@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme='light'] {
	--color-background: #fafaf9;
	--color-background-offset: #dbeafe;
	--color-text: #1b2d45;
	--color-text-offset: #373a3c;
	--color-border: #cdd7e6;
	--color-primary: #374ec7;
	--color-primary-offset: #5671fe;
}

[data-theme='dark'] {
	--color-background: #1a161a;
	--color-background-offset: #302b30;
	--color-text: #fefffe;
	--color-text-offset: #bebebe;
	--color-border: #413841;
	--color-primary: #e78bf3;
	--color-primary-offset: #dc66ec;
}

@media (prefers-reduced-motion: no-preference) {
	:focus {
		transition: outline-offset 0.1s ease;
		outline-offset: 4px;
	}
}

a {
	color: var(--color-text-offset);
}

.underlined {
	position: relative;
	text-decoration: none !important;
	white-space: nowrap;
}

.underlined:focus {
	outline: none;
	text-decoration: none !important;
}

.underlined:after {
	content: '';
	height: 2px;
	transform: scaleX(0);
	transition: transform 0.25s ease;
	transform-origin: left;
	left: 0;
	bottom: -4px;
	width: 100%;
	display: block;
	position: absolute;
}

.underlined:hover:after,
.underlined:focus:after,
.active.underlined:after {
	background-color: currentColor;
	transform: scaleX(1);
}

@media (prefers-reduced-motion) {
	.underlined:after {
		opacity: 0;
		transition: opacity 0.25s ease;
	}

	.underlined:hover:after,
	.underlined:focus:after,
	.active.underlined:after {
		opacity: 1;
	}
}

.container {
	@apply max-w-screen-xl w-11/12 mx-auto;
}

.link {
	@apply underlined block whitespace-nowrap text-text-offset font-medium hover:text-text focus:text-text focus:outline-none active;
}
